<div class="container bg-light">
<footer>
    <ul class="nav">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/produtos" class="nav-link">Produtos</a></li>
        <li class="nav-item"><a href="/representantes" class="nav-link">Representantes</a></li>
        <li class="nav-item"><a href="/empresa" class="nav-link">A Empresa</a></li>
        <li class="nav-item"><a href="/contato" class="nav-link">Fale Conosco</a></li>
        <span class="navbar-text">
            Telefone: <strong>(18) 3723 4666</strong>
            <div class="social-networking-icons">
              <a href="https://www.facebook.com/certaoindustrial.agricola.3" target="_blank" class="facebook">Facebook</a>
              <a href="emails.asp" class="email">Email</a>
              <a href="skype.asp" class="tumblr">Skype</a>
            </div>
        </span>
    </ul>
    
  </footer>
</div>