<div class="container bg-light page-title">
    <h2>Contato <span></span></h2>
    <div class="row conteudo">
        <div class="col-6">
            <p>Certão Industrial Agrícola <br>
                Telefones: (18) 3723 4666 /  (18) 3723 5500<br>
                Av. Dr° Pedro Bentivóglio Filho, nr° 200<br>
                Distrito Industrial<br>
                CEP: 16.902-170<br>
                Andradina –SP <br>
                </p>
        </div>
        <div class="col-6">
            <app-lateral-direito></app-lateral-direito>
        </div>
    </div>
</div>