<div class="container bg-light page-title">
    <h2>A Empresa <span>Conheça</span></h2>
    <div class="row conteudo">
        <div class="col-6">
            <p>Buscando atender as necessidades do homem do campo a Cert&atilde;o Industrial agr&iacute;cola
                atua no mercado nacional na fabrica&ccedil;&atilde;o no assento e escapamento
                de varias marcas no setor agr&iacute;cola.<br><br>
                A Cert&atilde;o vem cada veiz mais se aperfei&ccedil;oando e buscando solu&ccedil;&otilde;es
                para confiabilidade de profissionais altamente capacitados, proporcionando rapidez
                e qualidade.<br>
                
            </p>
        </div>
        <div class="col-6">
            <app-lateral-direito></app-lateral-direito>
        </div>
    </div>
</div>